<div class="container">
	<div class="row">	
		<div class="col-sm-12">
			<div>
				<ul class="nav nav-tabs">
					<li class="active"><a href="/#/viewHome">Home</a></li>
					<li><a href="/#/viewCouple">Couple</a></li> 
					<li><a href="/#/viewWedding">Wedding</a></li> 
					<li><a href="/#/viewReception">Reception</a></li> 
					<li><a href="/#/viewRegistry">Registry</a></li>
					<!-- <li><a href="/#/viewPhotos">Photos</a></li> -->
					<li><a href="/#/viewComments">Comments</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</hr>

