<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron">
				<h2>Create Wedding</h2>
				<p>On this page, you will create your wedding details.</p>
			</div>
		</div>
	</div>

	<div ng-include src="'views/createWedding/navbarcreate.inc.html'"></div>


</div>


<!-- 	<ul class="nav nav-tabs">
		<li class="active"><a href="/#/newHome">Home</a></li>
		<li><a href="/#/newCouple">Couple</a></li> 
		<li><a href="/#/newWedding">Wedding</a></li> 
		<li><a href="/#/newReception">Reception</a></li> 
		<li><a href="/#/newRegistry">Registry</a></li>
		<li><a href="/#/newPhotos">Photos</a></li>
		<li><a href="/#/newGuestlist">Guest List</a></li>
	</ul> -->





	<!-- 	<div>
		<ul class="nav nav-tabs">
			<li>
				<a href="/#/newHome" ng-class="{active: $route.current.activeTab == 'newhome'}">Home</a>
			</li>
			<li>
				<a href="/#/newCouple" ng-class="{active: $route.current.activeTab == 'newcouple'}">Couple</a>
			</li> 
			<li>
				<a href="/#/newWedding" ng-class="{active: $route.current.activeTab == 'newwedding'}">Wedding</a>
			</li> 
			<li>
				<a href="/#/newReception" ng-class="{active: $route.current.activeTab == 'newreception'}">Reception</a>
			</li> 
			<li>
				<a href="/#/newRegistry" ng-class="{active: $route.current.activeTab == 'newregistry'}">Registry</a>
			</li>
			<li>
				<a href="/#/newPhotos" ng-class="{active: $route.current.activeTab == 'newphotos'}">Photos</a>
			</li>
			<li>
				<a href="/#/newGuestlist" ng-class="{active: $route.current.activeTab == 'newguestlist'}">Guest List</a>
			</li>
		</ul>
	</div> -->