<div class="container">
	<div class="row">	
		<div class="col-sm-12">
			<div>
				<ul class="nav nav-tabs">
					<li class="active"><a href="/#/dashboard">Home</a></li>
					<li><a href="/#/newCouple">Couple</a></li> 
					<li><a href="/#/newWedding">Wedding</a></li> 
					<li><a href="/#/newReception">Reception</a></li> 
					<li><a href="/#/newRegistry">Registry</a></li>
					<li><a href="/#/newPhotos">Photos</a></li>
					<!-- <li><a href="/#/newGuestlist">Guest List</a></li> -->
					<!-- <li><a href="/#/wellwishes">Well Wishes</a></li> -->
				</ul>
			</div>
		</div>
	</div>
</div>
</hr>

